{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'records/style.css' %}">
{% endblock style %}


{% block content %}

<h1>Today record</h1>

<form action="{% url 'records:update' record.pk %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" id="title" value="{{ record.title }}">
    </div>
    <div>
        <label for="record_date">Date</label>
        <input type="date" class="form-control" name="record_date" id="record_date"  value="{{ record.record_date|date:'Y-m-d' }}">
    </div>
    <div class="form-group">
        <label for="imgfile">Image:</label>
        {% if record.imgfile %}
        <img src="{{ record.imgfile.url }}" width="200">
        {% endif %}
        <input type="file" class="form-control-file" id="imgfile" name="imgfile">
    </div>
    <div>
        <label for="content">Content</label>
        <textarea name="content" class="form-control" id="content" cols="30" rows="5">{{ record.content }}</textarea>
    </div>
    <div style="display: flex;justify-content: center;align-items: center;">
        <input class="btn" style="color:pink; font-size:30px;" type="submit" id='submit-button' value="Save">
        <a href="{% url 'records:diary' record.pk %}" style="font-size:30px;">Back</a>
    </div>
</form>

{% endblock content %}