{% extends 'base.html' %}
{% load static %}


{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'records/style.css' %}">
{% endblock style %}

{% block content %}


<div class="container">
    <div class="dairy_header">
    <h1>Diary</h1>
    <a style="color:pink; font-size:20px; margin-left:10px;" href="{% url 'records:write' %}">+일기쓰기</a></h1>
    </div>
    <form action="{% url 'records:record' %}" method="get" class="text-center">
        <label for="year">Year:</label>
        <select name="year" id="year">
            <option value="">Select year</option>
            {% for year in years %}
              {% if year == selected_year %}
                <option value="{{ year }}" selected>{{ year }}년</option>
              {% else %}
                <option value="{{ year }}">{{ year }}년</option>
              {% endif %}
            {% endfor %}
        </select>
        <label for="month">Month:</label>
        <select name="month" id="month">
            <option value="">Select month</option>
            {% for month in months %}
                <option value="{{ month }}"> {{ month }}월</option>
            {% endfor %}
        </select>
        <button type="submit">Filter</button>
    </form>

    {% for record in records %}
        <div class="dairy_content">
            <a href="{% url 'records:diary' record.pk %}">
                <h4>{{ record.record_date|date:'m/d' }}</h4>
                <h4>{{ record.title }}</h4>
            </a>
        </div>
    {% empty %}
    <div class="dairy_content text-center fw-bold lh-1">
      <h4>♡기록이 없습니다♡<h4>
    </div>
    {% endfor %}
</div>

{% endblock content %}