{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'records/style.css' %}">
{% endblock style %}


{% block content %}

<h1>Today record</h1>

<form action="{% url 'records:success' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" id="title" required>
    </div>
    <div>
        <label for="record_date">Date</label>
        <input type="date" class="form-control" name="record_date" id="record_date" required>
    </div>
    <div>
        <label for="imgfile">Image</label>
        <input type="file" class="form-control" name="imgfile" id="imgfile">
    </div>
    <div>
        <label for="content">Content</label>
        <textarea name="content" class="form-control" id="content" cols="30" rows="5" required></textarea>
    </div>
    <div style="display: flex;justify-content: center;align-items: center;">
        <input class="btn" style="color:pink; font-size:30px;" type="submit" id='submit-button' value="Save">
        <a href="{% url 'records:record' %}" style="font-size:30px;">Back</a>
    </div>
</form>

{% endblock content %}