<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>about me</title>
		<style>
			nav {
				background-color: darkgreen;
				font-size: 150%;
				text-align: center;
				margin-bottom: 1rem;
			}
			nav a {
				color: gold;
			}
		</style>
	</head>
	<body>
		<nav>
			<a href="/blog/"> Blog </a>
			<a href="/about_me/"> About Me</a>
		</nav>
		<h1>About ShinHye Kim</h1>
		<h2>개발공부하는 김신혜입니다</h2>
		<h2>about me</h2>
		<p>Django를 배우고 있습니다.</p>
		{% comment %} <a href="index.html">첫 화면으로 가기</a>
		<img src="./photo02.jpeg" height="400px" /> {% endcomment %}
	</body>
</html>
